@font-face {
  font-family: "RobotoCondened";
  src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
  src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.woff") format("woff"),
  url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.otf") format("opentype"),
  url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.svg#filename") format("svg");
}

@font-face {
  font-family: "Sen";
  src: url("../assets/fonts/Sen/Sen-Regular.ttfSen.eot");
  src: url("../assets/fonts/Sen/Sen-Regular.ttfSen.woff") format("woff"),
  url("../assets/fonts/Sen/Sen-Regular.ttfSen.otf") format("opentype"),
  url("../assets/fonts/Sen/Sen-Regular.ttfSen.svg#filename") format("svg");
}

body {
  height: 100vh;
  width: 100vw;
}

.title h1, .title h3, .btn-spin {
  font-family: 'RobotoCondened', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h3, .btn-answer {
  font-family: 'Sen', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.container-max {
  background: url('../assets/board.png');
  height: 100%;
  width: 100%;
}

.container-left {
  flex: 2;
  flex-direction: column;
  height: 100vh
}

.container-rulete {
  flex: 8;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.container-rulete img {
  height: 100%;
  object-fit: fill;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.button-container {
  justify-content: space-around;
}

.title {
  flex-direction: column;
}

.title h1{
  font-size: 47pt;
}

.title h3{
  
}

.btn-spin {
  height: 150px;
  font-size: 18pt;
  width: 150px;
  margin-bottom: 10%;
}

.card {
  height: 30%;
  width: 50%;
}

#rulete {
  flex: 7;
}

#answers {
  flex: 3;
  justify-content: flex-start;
  align-items: flex-start;
}

#wallpaper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.btn-answer {
  flex: 3;
  margin: 10px;
}

#arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 150px;
}

.container-left .button-container {
  align-items: center;
  padding-top: 60%;
}

#circle-rulete {
  transition: all 3s;
}